.sidebar {
  position: relative;
  width: 400px;
  /* Ограничиваем ширину sidebar */
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Растягиваем сайдбар на всю высоту родителя */
  overflow: hidden;
  /* Скрываем элементы, выходящие за пределы sidebar */
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  &__content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Прокрутка для контента */
    flex-grow: 1;
    /* Растягиваем контент на доступную высоту */

    &::-webkit-scrollbar {
      width: 8px;
      /* Ширина вертикального скроллбара */
      height: 8px;
      /* Высота горизонтального скроллбара (если есть) */
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      /* Цвет дорожки скроллбара */
      border-radius: 10px;
      /* Округлённые углы дорожки */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      /* Цвет ползунка */
      border-radius: 10px;
      /* Округлённые углы ползунка */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
      /* Более тёмный цвет ползунка при наведении */
    }
  }

  &__card {
    display: flex;
    border-radius: 10px;
    width: 100%;
    /* Устанавливаем ширину карты на 100% от родителя */
    max-width: 100%;
    /* Ограничиваем максимальную ширину */
    transition: all 0.3s ease;
    padding: 10px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    /* Предотвращаем уменьшение аватара */
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
    /* Занимаем доступное пространство */
    max-width: 100%;
    /* Ограничиваем ширину */
    overflow: hidden;
    /* Чтобы текст не выходил за границы */
  }

  &__username,
  &__text {
    white-space: nowrap;
    /* Текст не переносится */
    overflow: hidden;
    /* Обрезать текст, выходящий за пределы */
    text-overflow: ellipsis;
    /* Добавить многоточие в конце обрезанного текста */
  }

  &__username {
    font-size: 16px;
    /* Размер текста для username */
  }

  &__text {
    font-size: 14px;
    /* Размер текста для message */
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.152);
    }
  }
}

.sidebar__menu {
  position: absolute;
  top: 0;
  padding-top: 100px;
  left: -100%;
  /* Скрываем меню за пределами боковой панели */
  width: 100%;
  /* Меню занимает всю ширину sidebar */
  height: 100%;
  background-color: #3e3e3e;
  /* Темный фон для меню */
  display: flex;
  flex-direction: column;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  /* Плавная анимация появления */
}

.sidebar__menu--open {
  left: 0;
  /* Меню выезжает, занимая всю ширину sidebar */
}

.sidebar__menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__menu-list button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar__menu-list button:hover {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar__close-button {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

.sidebar__image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.sidebar__card.selected {
  background-color: rgba(33, 99, 169, 0.8); /* Синий цвет для выбранного элемента */
  color: white;
}

.sidebar__status {
  width: 10px;          /* Ширина точки */
  height: 10px;        /* Высота точки */
  border-radius: 50%;  /* Делает точку круглой */
  display: inline-block; /* Чтобы точка отображалась в одной строке с текстом */
  margin-right: 8px;   /* Отступ между точкой и текстом */
}

.sidebar__status.online {
  background-color: rgb(37, 101, 0); /* Цвет точки для статуса онлайн */
}

.sidebar__status.offline {
  /* Отсутствие стиля для оффлайн - просто не показываем точку */
  display: none; /* Скрываем элемент, если пользователь оффлайн */
}
