@import "bootstrap/scss/bootstrap";
@import "./reset/reset.scss";

@import "./auth/auth.scss";
@import "./main/main";
@import "./search/search";
@import "./sidebar/sidebar";
@import "./chat/chat";
@import "./message/message";
@import "./modal/modal";

body {
  background-image: url("../assets/images/gradient-abstract-wallpaper-1600x900-v0-g4d3amr7r5a81.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
